# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
    - List popular languages for Data Science
    - List of most common libraries used by Data Scientists
    - Table of tools used by Data Scientists
    - Evaluating basic arithmetic expressions

Some of the popular languages that Data Scientists use are:

    1. Python
    2. R
    3. Julia

Some of the commonly used libraries used by Data Scientists include:

    1. Panda
    2. Numpy
    3. Scikit

| Data Science Tools |
| ------------------ |
| Tensorflow         |
| RStudio            |
| ApacheSpark        |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

mins = 200
min_per_hrs = 60

mins/min_per_hrs

3.3333333333333335

## Author

Bruce Moquete